@import "./variables.scss";

page {
  height: 100%;
}
.status_bar {
  height: var(--status-bar-height);
  width: 100%;
}
image {
  will-change: transform;
  height: auto;
}

.video-tabbar, .friend-tabbar, .release-tabbar, .message-tabbar, .me-tabbar {
  min-height: 100%;
  background-color: $blackBg;
}