@font-face {
  font-family: "iconfont"; /* Project id 3378317 */
  src: url('//at.alicdn.com/t/font_3378317_cknh37u5wej.woff2?t=1652284689799') format('woff2'),
       url('//at.alicdn.com/t/font_3378317_cknh37u5wej.woff?t=1652284689799') format('woff'),
       url('//at.alicdn.com/t/font_3378317_cknh37u5wej.ttf?t=1652284689799') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zengjia1:before {
  content: "\e6ea";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-bianji:before {
  content: "\e663";
}

.icon-xiangce:before {
  content: "\e612";
}

.icon-tianjiahaoyou:before {
  content: "\e629";
}

.icon-bofang:before {
  content: "\e653";
}

.icon-fenxiangzhuanfa:before {
  content: "\e716";
}

.icon-xiaoxizhongxin:before {
  content: "\e886";
}

.icon-aixin:before {
  content: "\e8c3";
}

.icon-zengjia:before {
  content: "\e8c8";
}

.icon-quanping:before {
  content: "\e64b";
}
