@font-face {
  font-family: "iconfont"; /* Project id 3378317 */
  src: url('//at.alicdn.com/t/font_3378317_blsvhsjhe76.woff2?t=1651941191541') format('woff2'),
       url('//at.alicdn.com/t/font_3378317_blsvhsjhe76.woff?t=1651941191541') format('woff'),
       url('//at.alicdn.com/t/font_3378317_blsvhsjhe76.ttf?t=1651941191541') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\e653";
}

.icon-fenxiangzhuanfa:before {
  content: "\e716";
}

.icon-xiaoxizhongxin:before {
  content: "\e886";
}

.icon-aixin:before {
  content: "\e8c3";
}

.icon-zengjia:before {
  content: "\e8c8";
}

.icon-quanping:before {
  content: "\e64b";
}
